/* Set Color-variables for use */
body {
  margin: 0;
  background-color: #96B2D6;
  font-family: 'Poppins', sans-serif;
}
header {
  background-color: #B7D3F0;
  border-bottom: 10px double #96B2D6;
}
header #headerbanner {
  margin: 0;
  position: relative;
  height: 8rem;
  background-image: url("../img/bg/logo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
header #headerbanner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  color: #96D4D6;
  font-family: 'Bungee Inline', cursive;
  font-size: 3.5vw;
  text-shadow: 0px 0px 10px #000000, 0px 0px 20px #96B2D6;
}
header #headerbanner img {
  visibility: hidden;
  width: 100%;
  height: 100%;
}
nav {
  visibility: hidden;
  background-color: #344152;
  padding: 0.5rem;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul li {
  float: left;
}
nav ul li button {
  font-size: 120%;
  background-color: #ADF7E6;
  border-radius: 10px;
  display: block;
  padding: 8px;
  margin: 0 0.5rem;
}
#mainModel {
  margin: 10vw auto;
  width: 50vw;
}
#loginBox {
  margin: auto;
  width: 30vw;
  background-color: #96D4D6;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0px 0px 10px black;
}
#loginBox h2 {
  text-align: center;
  margin: 0;
}
#loginBox .flexForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#loginBox .flexForm label {
  width: 100%;
}
#loginBox .flexForm input {
  width: 100%;
  height: 1.5rem;
  border-color: #344152;
  border-radius: 10px;
  outline: none;
  transition: background-color 0.5s;
}
#loginBox .flexForm button {
  height: 2rem;
  width: 20%;
  border-radius: 10px;
  outline: none;
  transition: background-color 0.5s;
}
#loginBox .flexForm input:hover,
#loginBox .flexForm input:focus,
#loginBox .flexForm button:hover,
#loginBox .flexForm button:focus {
  background-color: #b3b3b3;
}
#loginBox .flexForm div {
  height: 0.5rem;
  font-size: 110%;
}
.break {
  flex-basis: 100%;
  height: 0;
}
#mainBox {
  background-color: #96D4D6;
  padding: 2rem;
}
#mainBox table {
  border-collapse: separate;
  border-spacing: 0 1rem;
  min-width: 100%;
}
#mainBox table tbody tr {
  cursor: pointer;
}
#mainBox table tr td {
  text-align: center;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  background-color: #ADBAF7;
  padding: 1.5rem;
}
#mainBox table tr td:first-child {
  border-left: 2px solid black;
  border-radius: 10px 0 0 10px;
}
#mainBox table tr td:last-child {
  border-right: 2px solid black;
  border-radius: 0 10px 10px 0;
}
